name: deploy to gihub pages

on:
  schedule:
    # cron format: minute hour day month weekday 
    # 0 1 * * * = run every day at 1 am
    - cron:  '0 1 * * *'
  push:
    branches:
      - main
      - master
      - use_hugo  # development only

jobs:
  deploy:
    runs-on: ubuntu-18.04

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
      with:
          submodules: true
          fetch-depth: 0
          
    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v2
      with:
        hugo-version: 'latest'
        extended: true

    - name: Setup Python
      uses: "actions/setup-python@v2"

    - name: Install rst2html
      run: pip install rst2html

    # for production, use uio-carpentry.github.io as baseURL
    - name: Build Site Production
      if: ${{ $GITHUB_REPOSITORY == uio-carpentry/uio-carpentry.github.io }}
      run: hugo --gc --minify --cleanDestinationDir --baseURL=https:uio-carpentry.github.io/

    # for forks, use baseURL from config.toml
    - name: Build Site Development
      if: ${{ $GITHUB_REPOSITORY != uio-carpentry/uio-carpentry.github.io }}
      run: hugo --gc --minify --cleanDestinationDir

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public
      env: 
        ACTIONS_ALLOW_UNSECURE_COMMANDS: true  